bcrypt
blinker
certifi
click
cloudinary
colorama
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
Pillow
python-dotenv
setuptools
six
SQLAlchemy
svgwrite
Tree
typing_extensions
gunicorn
urllib3
Werkzeug
WTForms
