{% extends 'layout.html' %}
{% block content %}
    {% for post in posts.items %}
    <article class="media content-section">
        <img src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
                <h5><a href="{{ url_for('user_posts', username=post.author.username ) }}" class="mr-2">{{ post.author.username }}</a></h5>
                <h5><small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></h5>
                <!--<i class="fa-regular fa-thumbs-up"></i>-->
            </div>
            <h2><a href="{{ url_for('post', post_id=post.id) }}" class="article-title" style="font-size: 25px;">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        
        
            {{ post.likes|length }}
            {% if user_id in post.likes|map(attribute="author")|list %}
            <a href="/like-post/{{post.id}}"><i class="fas fa-thumbs-up"></i></a>
            {% else %}
            <a href="/like-post/{{post.id}}"><i class="far fa-thumbs-up"></i></a>
            {% endif %} 
            
            <!--{{ post.likes|length }}
            <a href="#" class="like-button" data-post-id="{{post.id}}">
                {% if user_id in post.likes|map(attribute="author")|list %}
                    <i class="fas fa-thumbs-up"></i>
                {% else %}
                    <i class="far fa-thumbs-up"></i>
                {% endif %}
            </a> -->
            
                

        </div>
    </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
            <a  class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a  class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock content %}
